* {
  box-sizing: border-box;
  margin: 0;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
  /* background: #0e0; */
}


h1 {
    font-size: 56px;
  font-family: "Arimo", sans-serif;
}

h2 {
  font-size: 64px;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

 small {
 font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

a {
  all: unset;
  cursor: pointer;
}


@media (max-width: 768px) {
  h1{
    font-size: 32px;
  }
}
