@import url(./base.css);
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

a {
  text-decoration: none;
  color: inherit;
}

* {
  font-family: 'Open Sans';
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Arimo';
}

main{
   max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
}

@media (max-width: 768px) {
  main {
    width: 95%;
  }
}

.center {
  display: grid;
  place-items: center;
  text-align: center;
}
